<div class="row">
<div class="col">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="219.000000pt" height="329.000000pt" viewBox="0 0 437.000000 658.000000"
 preserveAspectRatio="xMidYMid meet">

<g transform="translate(0.000000,658.000000) scale(0.100000,-0.100000)"
fill="#000000" stroke="none">
<path d="M534 6181 c-47 -22 -80 -59 -94 -110 -8 -25 -10 -939 -8 -2918 l3
-2881 30 -38 c17 -20 46 -45 65 -55 33 -18 95 -19 1633 -19 1415 0 1602 2
1634 15 48 20 71 41 94 87 18 36 19 97 19 2187 l0 2151 185 2 185 3 -185 270
-185 269 0 456 c0 420 -2 458 -19 495 -22 48 -44 69 -94 90 -32 13 -218 15
-1629 15 -1529 0 -1595 -1 -1634 -19z m3270 -34 c21 -12 47 -38 57 -57 18 -34
19 -129 19 -2910 0 -2717 -1 -2877 -18 -2909 -9 -19 -30 -44 -45 -55 l-28 -21
-1628 0 -1628 0 -26 30 c-15 17 -32 46 -37 65 -8 24 -10 915 -8 2910 l3 2875
22 31 c49 68 -82 64 1683 64 l1595 0 39 -23z m290 -1284 c91 -134 166 -245
166 -248 0 -3 -79 -5 -175 -5 l-175 0 0 257 c0 149 4 253 9 248 5 -6 83 -119
175 -252z"/>
<path d="M2440 5630 l0 -350 710 0 710 0 0 350 0 350 -710 0 -710 0 0 -350z
m1410 0 l0 -340 -700 0 -700 0 0 340 0 340 700 0 700 0 0 -340z" [style.fill]="toggle ? 'green' : 'red'"
(click)="enableDisableRule()" (click)="showDiv.A1 = !showDiv.A1"/>
<path d="M630 5505 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle1 ? 'green' : 'red'"
(click)="enableDisableRule1()" (click)="showDiv.A2 = !showDiv.A2"/>
<path d="M1100 5495 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle2 ? 'green' : 'red'"
(click)="enableDisableRule2()" (click)="showDiv.A3 = !showDiv.A3"/>
<path d="M1570 5495 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle3 ? 'green' : 'red'"
(click)="enableDisableRule3()" (click)="showDiv.A4 = !showDiv.A4"/>
<path d="M650 4795 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle4 ? 'green' : 'red'"
(click)="enableDisableRule4()" (click)="showDiv.A5 = !showDiv.A5"/>
<path d="M1120 4785 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle5 ? 'green' : 'red'"
(click)="enableDisableRule5()" (click)="showDiv.A6 = !showDiv.A6"/>
<path d="M1590 4785 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle6 ? 'green' : 'red'"
(click)="enableDisableRule6()" (click)="showDiv.A7= !showDiv.A7"/>
<path d="M650 4065 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle7 ? 'green' : 'red'"
(click)="enableDisableRule7()" (click)="showDiv.A8 = !showDiv.A8"/>
<path d="M1120 4055 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle8 ? 'green' : 'red'"
(click)="enableDisableRule8()" (click)="showDiv.A9 = !showDiv.A9"/>
<path d="M1590 4055 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle9 ? 'green' : 'red'"
(click)="enableDisableRule9()" (click)="showDiv.A10 = !showDiv.A10"/>
<path d="M2420 4025 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle10 ? 'green' : 'red'"
(click)="enableDisableRule10()" (click)="showDiv.A11 = !showDiv.A11"/>
<path d="M2890 4015 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle11 ? 'green' : 'red'"
(click)="enableDisableRule11()" (click)="showDiv.A12 = !showDiv.A12"/>
<path d="M3360 4015 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle12 ? 'green' : 'red'"
(click)="enableDisableRule12()" (click)="showDiv.A13 = !showDiv.A13"/>
<path d="M670 3355 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z"  [style.fill]="toggle13 ? 'green' : 'red'"
(click)="enableDisableRule13()" (click)="showDiv.A14 = !showDiv.A14"/>
<path d="M1140 3345 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle14 ? 'green' : 'red'"
(click)="enableDisableRule14()" (click)="showDiv.A15 = !showDiv.A15"/>
<path d="M1610 3345 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle15 ? 'green' : 'red'"
(click)="enableDisableRule15()" (click)="showDiv.A16 = !showDiv.A16"/>
<path d="M2440 3315 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle16 ? 'green' : 'red'"
(click)="enableDisableRule16()" (click)="showDiv.A17 = !showDiv.A17"/>
<path d="M2910 3305 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle17 ? 'green' : 'red'"
(click)="enableDisableRule17()" (click)="showDiv.A18 = !showDiv.A18"/>
<path d="M3380 3305 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle18 ? 'green' : 'red'"
(click)="enableDisableRule18()" (click)="showDiv.A19= !showDiv.A19"/>
<path d="M660 2625 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle19 ? 'green' : 'red'"
(click)="enableDisableRule19()" (click)="showDiv.A20 = !showDiv.A20"/>
<path d="M2440 2625 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle20 ? 'green' : 'red'"
(click)="enableDisableRule20()" (click)="showDiv.A21 = !showDiv.A21"/>
<path d="M1130 2615 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle21 ? 'green' : 'red'"
(click)="enableDisableRule21()" (click)="showDiv.A22 = !showDiv.A22"/>
<path d="M1600 2615 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle22 ? 'green' : 'red'"
(click)="enableDisableRule22()" (click)="showDiv.A23 = !showDiv.A23"/>
<path d="M2910 2615 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle23 ? 'green' : 'red'"
(click)="enableDisableRule23()" (click)="showDiv.A24 = !showDiv.A24"/>
<path d="M3380 2615 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle24 ? 'green' : 'red'"
(click)="enableDisableRule24()" (click)="showDiv.A25 = !showDiv.A25"/>
<path d="M680 1915 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle25 ? 'green' : 'red'"
(click)="enableDisableRule25()" (click)="showDiv.A26 = !showDiv.A26"/>
<path d="M2460 1915 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle26 ? 'green' : 'red'"
(click)="enableDisableRule26()" (click)="showDiv.A27 = !showDiv.A27"/>
<path d="M1150 1905 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle27 ? 'green' : 'red'"
(click)="enableDisableRule27()" (click)="showDiv.A28 = !showDiv.A28"/>
<path d="M1620 1905 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle28 ? 'green' : 'red'"
(click)="enableDisableRule28()" (click)="showDiv.A29 = !showDiv.A29"/>
<path d="M2930 1905 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle29 ? 'green' : 'red'"
(click)="enableDisableRule29()" (click)="showDiv.A30 = !showDiv.A30"/>
<path d="M3400 1905 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle30 ? 'green' : 'red'"
(click)="enableDisableRule30()" (click)="showDiv.A31 = !showDiv.A31"/>
<path d="M2410 1265 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle31 ? 'green' : 'red'"
(click)="enableDisableRule31()" (click)="showDiv.A32 = !showDiv.A32"/>
<path d="M2880 1255 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle32 ? 'green' : 'red'"
(click)="enableDisableRule32()" (click)="showDiv.A33 = !showDiv.A33"/>
<path d="M3350 1255 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle33 ? 'green' : 'red'"
(click)="enableDisableRule33()" (click)="showDiv.A34 = !showDiv.A34"/>
<path d="M690 1235 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle34 ? 'green' : 'red'"
(click)="enableDisableRule34()" (click)="showDiv.A35 = !showDiv.A35"/>
<path d="M1160 1225 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle35 ? 'green' : 'red'"
(click)="enableDisableRule35()" (click)="showDiv.A36 = !showDiv.A36"/>
<path d="M1630 1225 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle36 ? 'green' : 'red'"
(click)="enableDisableRule36()" (click)="showDiv.A37 = !showDiv.A37"/>
<path d="M2430 555 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle37 ? 'green' : 'red'"
(click)="enableDisableRule37()" (click)="showDiv.A38 = !showDiv.A38"/>
<path d="M2900 545 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle38 ? 'green' : 'red'"
(click)="enableDisableRule38()" (click)="showDiv.A39 = !showDiv.A39"/>
<path d="M3370 545 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle39 ? 'green' : 'red'"
(click)="enableDisableRule39()" (click)="showDiv.A40 = !showDiv.A40"/>
<path d="M710 525 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle40 ? 'green' : 'red'"
(click)="enableDisableRule40()" (click)="showDiv.A41 = !showDiv.A41"/>
<path d="M1180 515 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle41 ? 'green' : 'red'"
(click)="enableDisableRule41()" (click)="showDiv.A42 = !showDiv.A42"/>
<path d="M1650 515 l0 -265 155 0 155 0 0 265 0 265 -155 0 -155 0 0 -265z" [style.fill]="toggle42 ? 'green' : 'red'"
(click)="enableDisableRule42()" (click)="showDiv.A43 = !showDiv.A43"/>
</g>
</svg>
</div>

<div class="col">  
    <div *ngIf="showDiv.A1">Wybrano miejsce: 1</div>
    <div *ngIf="showDiv.A2">Wybrano miejsce: 2</div>
    <div *ngIf="showDiv.A3">Wybrano miejsce: 3</div>
    <div *ngIf="showDiv.A4">Wybrano miejsce: 4</div>
    <div *ngIf="showDiv.A5">Wybrano miejsce: 5</div>
    <div *ngIf="showDiv.A6">Wybrano miejsce: 6</div>
    <div *ngIf="showDiv.A7">Wybrano miejsce: 7</div>
    <div *ngIf="showDiv.A8">Wybrano miejsce: 8</div>
    <div *ngIf="showDiv.A9">Wybrano miejsce: 9</div>
    <div *ngIf="showDiv.A10">Wybrano miejsce: 10</div>
    <div *ngIf="showDiv.A11">Wybrano miejsce: 11</div>
    <div *ngIf="showDiv.A12">Wybrano miejsce: 12</div>
    <div *ngIf="showDiv.A13">Wybrano miejsce: 13</div>
    <div *ngIf="showDiv.A14">Wybrano miejsce: 14</div>
    <div *ngIf="showDiv.A15">Wybrano miejsce: 15</div>
    <div *ngIf="showDiv.A16">Wybrano miejsce: 16</div>
    <div *ngIf="showDiv.A17">Wybrano miejsce: 17</div>
    <div *ngIf="showDiv.A18">Wybrano miejsce: 18</div>
    <div *ngIf="showDiv.A19">Wybrano miejsce: 19</div>
    <div *ngIf="showDiv.A20">Wybrano miejsce: 20</div>
    <div *ngIf="showDiv.A21">Wybrano miejsce: 21</div>
    <div *ngIf="showDiv.A22">Wybrano miejsce: 22</div>
    <div *ngIf="showDiv.A23">Wybrano miejsce: 23</div>
    <div *ngIf="showDiv.A24">Wybrano miejsce: 24</div>
    <div *ngIf="showDiv.A25">Wybrano miejsce: 25</div>
    <div *ngIf="showDiv.A26">Wybrano miejsce: 26</div>
    <div *ngIf="showDiv.A27">Wybrano miejsce: 27</div>
    <div *ngIf="showDiv.A28">Wybrano miejsce: 28</div>
    <div *ngIf="showDiv.A29">Wybrano miejsce: 29</div>
    <div *ngIf="showDiv.A30">Wybrano miejsce: 30</div>
    <div *ngIf="showDiv.A31">Wybrano miejsce: 31</div>
    <div *ngIf="showDiv.A32">Wybrano miejsce: 32</div>
    <div *ngIf="showDiv.A33">Wybrano miejsce: 33</div>
    <div *ngIf="showDiv.A34">Wybrano miejsce: 34</div>
    <div *ngIf="showDiv.A35">Wybrano miejsce: 35</div>
    <div *ngIf="showDiv.A36">Wybrano miejsce: 36</div>
    <div *ngIf="showDiv.A37">Wybrano miejsce: 37</div>
    <div *ngIf="showDiv.A38">Wybrano miejsce: 38</div>
    <div *ngIf="showDiv.A39">Wybrano miejsce: 39</div>
    <div *ngIf="showDiv.A40">Wybrano miejsce: 40</div>
    <div *ngIf="showDiv.A41">Wybrano miejsce: 41</div>
    <div *ngIf="showDiv.A42">Wybrano miejsce: 42</div>
    <div *ngIf="showDiv.A43">Wybrano miejsce: 43</div>
    

<div class="col">    
    <router-outlet> </router-outlet>
</div>
</div>